---
import Social from "./Social.astro";
---

<footer>
    <div class="footer-links">
        <p>
            <Social platform="twitter" username="mockmyberet" />
            <Social platform="github" username="mockmyberet" />
            <Social platform="youtube" username="@TommyBeckerAndStuff" />
        </p>
    </div>
</footer>
